body {
    font-family: 'Helvetica';
    margin: 0;
    padding: 0;
}

header {
    position: absolute;
    width: 1440px;
    height: 500px;
    left: 0px;
    top: 0px;
    background-color: #F1F3FF;
}

nav .navbar-1 {
    display: flex;
    padding: 0px;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 440px;
    height: 36px;
    top: 36px;
}

nav img {
    position: absolute;
    width: 100px;
    height: 34px;
    left: 136px;
    top: 25px;
}

nav .navbar-1 ul {
    display: flex;
    flex-direction: row;
    position: absolute;
    height: 36px;
    width: 440px;
    left: 864px;
}

nav .navbar-1 li {
    list-style-type: none;
    margin: 0 5px;
}

nav .navbar-1 ul li a {
    color: #000000;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.5px;
}

nav .navbar-1 ul li a.active {
    color: #F1F3FF;
    background: #5CB85F;
    border-radius: 2px;
    padding: 8px 12px 8px 12px;
}

body {
    font-family: 'Helvetica';
}

nav {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

nav .container ul li a {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

/* Hero Section */
.hero-section .intro h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 150%;
}

.hero-section .intro p {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
}

.hero-section .intro a {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;

    color: #FFFFFF;
}
/* Hero Section End */

/* Our Service Section */
.our-service .list .judul h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
}

.our-service .list .kolom p {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
}

.our-service .list .kolom li {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
}
/* Our Service Section End */

/* Why Us Section */
.why-us h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
}

.why-us p {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
}

.why-us h5 {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}
/* Why Us Section End */

/* Testimonial Section */
.testimonial .title h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
}

.testimonial p {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
}

.box-testi p {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
}

.box-testi h6 {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}
/* Testimonial Section End */

/* CTA Banner */
.card {
    color: #FFFFFF;
}

.card .card-body h5 {
    font-weight: 700;
    font-size: 36px;
    line-height: 150%;
}

.card .card-body p {
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
}
/* CTA Banner Section End */

/* FAQ Secction */
/* FAQ Section */
.faq h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
}

.faq p {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
}
/* FAQ Section End */

/* Footer */
footer {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
}